*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin-top: 50px;
    text-align: center;
}

.container{
    text-align: center;
}

.input{
    margin-top: 30px;
    width: 335px;
    height: 40px;
    font-size: large;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.button{
    width: 66px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    font-size: large;
    border: 1px solid;
    border-radius: 5px;
}
