*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    width: 500px;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 5px;
}

.data{
    margin-top: 10px;
}

.input{
    width: 300px;
    padding: 10px;
    border: 2px solid aqua;
    outline: none;
    font-size: 19px;
}
.btn-add{
    width: 60px;
    height: 45px;
    background-color: black;
    color: #FFF;
    border-radius: 2px;
    font-size: 19px;
    margin-left: 10px;
    cursor: pointer;
}
i{
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.text{
    margin-top: 10px;
    margin-left: 33px;
}
ul{
    position: relative;
    width: 300px;
    padding: 10px;
    border: 2px solid aqua;
    outline: none;
    font-size: 19px;
    margin-top: 10px;
    text-align: left;
}